@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="ylContentForm">
            <input type="hidden" id="id" value="${id}" />
            <input type="hidden" id="type" value="${type}" />
            <div class="row">
                <div class="col-sm-12 b-r">
                    <#table id="YlContentTable"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/yy/bankcheck/input.js?v=${date(),'yyyyMMddHHmmss'}"></script>
@}
