    /*横向时间轴*/
    .time-horizontal {
        list-style-type: none;
        border-top: 1px solid #666;
        max-width: 800px;
        padding: 0px;
        margin: 0px;
    }
    
    .time-horizontal li {
        float: left;
        position: relative;
        text-align: center;
        width: 25%;
        padding-top: 10px;
    }
    
    .time-horizontal li b:before {
        content: '';
        position: absolute;
        top: -8px;
	    left: 47%;
	    width: 12px;
	    height: 12px;
	    border: 2px solid #5FB878;
	    background-color: #fff;
	    border-radius: 8px;
	    border-radius: 50%;
	    background: #fff;
	    cursor:pointer;
    }
    
    
     .time-horizontal li m:before {
        content: '';
        position: absolute;
        top: -8px;
	    left: 47%;
	    width: 12px;
	    height: 12px;
	    border: 2px solid #5FB878;
	    background-color: #fff;
	    border-radius: 8px;
	    border-radius: 50%;
	    background: #fff;
	    cursor:pointer;
    }
    
    
    
    
    
    
    .time-horizontal li p{
        position: absolute;
    	left: 10px;
    	top: 40px;
    	display:none;
    	border: 1px solid #ccc;
    	border-radius: 15px;
    	padding: 10px;
    	background: white;
    }
    .time-horizontal-top{
        font-size: 12px;
        top: -65px;
        left: -15px;
    }
    
    
    /*纵向时间轴*/
    .time-vertical {
        list-style-type: none;
        border-left: 1px solid #707070;
        padding: 0px;
        height: 400px;
    }
    
    .time-vertical li {
        height: 100px;
        position: relative;
    }
    
    .time-vertical li a {
        display: inline-block;
        margin-left: 20px;
        margin-top: 15px;
        text-decoration: none;
        color: #000;
    }
    
    .time-vertical li b:before {
        content: '';
        position: absolute;
        top: 15px;
        left: -12px;
        width: 18px;
        height: 18px;
        border: 2px solid #98FB98;
        border-radius: 10px;
        background: #98FB98;
    }
    
    .time-vertical li span {
        position: absolute;
        color: #fff;
        top: 18px;
        left: -6px;
    }
