<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tebonx.cloud.yy.mapper.YlFileMapper">

	<select id="seletctDataImport" resultType="java.util.Map">
		select y.`id`, y.`name`, y.prefix, y.path, max(u.lastuploadtime) as lastuploadtime from ylfile y left join ylfile_uploadlog u on y.id = u.fid
		<if test="name != null and name != ''">
			where y.`name` like CONCAT('%',#{name},'%')
		</if>
		group by y.id order by u.lastuploadtime desc
	</select>

</mapper>