@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="appSystemForm">

            <input type="hidden" id="id" value="">

            <div class="row">
                <div class="col-sm-6 b-r">
                
                    <#input id="appname" name="应用名称" underline="true"/>

                    <#input id="appcode" name="应用代码" underline="true"/>
                    
                    
                                       
                </div>
                <div class="col-sm-6">

                    <#input id="remark" name="备注" underline="true"/>
                    
                </div>
            </div>
            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="AppSystemDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="AppSystemDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/system/appsystem/appsystem_info.js"></script>
<script>
$(function () {
	Feng.initValidator("appSystemForm", AppSystemDlg.validateFields);
});
</script>

@}
